.zoho-settings-instructions {
  border-top: 1px solid #ccc;
  margin-top: 30px;
  padding-top: 25px;
}

@media only screen and (min-width: 960px) {
  #zoho-crm-settings {
    display: flex;
  }

  .zoho-settings-instructions {
    padding: 20px 30px 0 40px;
    border: none;
    margin: 0;
    max-width: 500px;
  }
}

.connection-link a {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .connection-link {
    position: absolute;
    margin: -40px 0 0 190px;
  }

  .connection-link a {
    width: auto;
  }
}

@media only screen and (min-width: 960px) {
  #zoho-settings-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
  }

  #zoho-settings-container > div:nth-child(1),
  #zoho-settings-container > div:nth-child(2),
  #zoho-settings-container > div:nth-child(4),
  #zoho-settings-container > div:nth-child(5) {
    flex-basis: calc(100% / 4);
  }

  #zoho-settings-container > div:nth-child(3) {
    flex-basis: calc(100% / 2);
  }

  #zoho-settings-container > div:nth-child(6),
  #zoho-settings-container > div:nth-child(7) {
    flex-basis: 100%;
  }

  #zoho-settings-container > div:nth-child(6),
  #zoho-settings-container > div:nth-child(7) {
    display: flex;
    flex-wrap: wrap;
  }

  #zoho-settings-container > div:nth-child(6) h3,
  #zoho-settings-container > div:nth-child(7) h3 {
    flex-basis: 100%;
  }

  #zoho-settings-container > div:nth-child(6) > div,
  #zoho-settings-container > div:nth-child(7) > div {
    flex-basis: calc(100% / 4);
  }
}

#zoho-crm-integration-settings input[type="text"],
#zoho-crm-integration-settings input[type="email"] {
  width: 100%;
}
